.search-box {
  margin-bottom: 12px;
  position: relative;
  
  &.focused {
    .search-icon {
      color: #1890ff;
    }
  }
  
  .search-icon {
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.3s;
  }
  
  .clear-icon {
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    
    &:hover {
      color: rgba(0, 0, 0, 0.65);
    }
  }
  
  .match-count {
    position: absolute;
    right: -6px;
    top: -6px;
    z-index: 1;
  }
} 